//Кольори тексту
$colorTextPrimary: #212121;
$colorTextSecondary: #757575;
$colorTextTertiary: #fff;
$colorTextAdditionl: rgba(255, 255, 255, 0.6);
$colorHover: #2196f3;
//Кольори фону
$colorBackgroundPrimary: #2f303a;
$colorBckgroundSecondary: #f5f4fa;
//Шрифти
$fontTextPrimary: "Roboto", "serif";
